
  <link rel="stylesheet" type="text/css" href="/styles/createprofile.css"/>


    <div id="profile-image">
      <div class="image"></div>
      <h3 class="user-name">Username</h3>
      <form class="upload-image">
        <input type="text" name="upload-image" placeholder="input your image url...."></input>
        <button type="button" class="save-button"> SAVE </button>
      </form>
    </div>

    <div class="create-profile">
      <h3> Join Other Dudes and Create A Profile....</h3>
      <form class="create-profile-form">
        <table>
          <tr>
            <td data-ng-model="createProfileViewModel.newUser.first_name" class="text">First Name:</td>
            <td> <input type="text" class="one-forth-input first-name" name="first-name" placeholder="First Name...."></input>
            </td>
          </tr>

          <tr>
            <td data-ng-model="createProfileViewModel.newUser.last_name" class="text">Last Name:</td>
            <td> <input type="text" class="one-forth-input last-name" name="last-name" placeholder="Last Name...."></input>
            </td>
          </tr>

          <tr>
            <td data-ng-model="createProfileViewModel.newUser.username" class="text">Username:</td>
            <td> <input type="text" class="one-forth-input create-username" name="user-name" placeholder="Choose a username...."></input>
            </td>
          </tr>

          <tr>
            <td data-ng-model="createProfileViewModel.newUser.email" class="text">Email:</td>
            <td> <input type="text" class="one-forth-input email" name="Email" placeholder="What's your email?"></input>
           </td></tr>

          <tr><td data-ng-model="createProfileViewModel.newUser.city" class="text">City:</td>
            <td> <input type="text" class="one-forth-input city" name="city" placeholder="City"></input>
            </td></tr>

            <tr><td data-ng-model="createProfileViewModel.newUser.state" class="text">State:</td>
              <td> <input type="text" class="one-forth-input state" name="state" placeholder="State"></input>
              </td></tr>

              <td data-ng-model="createProfileViewModel.newUser.country"> <input type="text" class="one-forth-input country" name="country" placeholder="Country"></input>
              </td></tr>
        </table>
        <button data-ng-click="createProfileViewModel.create()" type="button">Create Profile</button>
      </form>
    </div>
