<link rel="stylesheet" type="text/css" href="styles/home.css"/>
<div id="wrapper">
<div id="left-side">
  <img src="/key_image.png" class="site_image"></image>
<h1 class="site_title"> Dude, Where's My Stuff?</h1>


<h2 style="margin-top: 8%;"> Sign In</h2> <br>
<form>
  <h3>Username</h3>
  <input type="text" name="username">
  <h3>User Id</h3>
  <input type="text" name="id" data-ng-model=stuffIndexViewModel.authUser.id>
  <button id ="sign-in" data-ng-click="stuffIndexViewModel.signIn()">Sign In </button>
</form>
<p> not a member? <a data-ui-sref="createProfileIndex">create an account.</a></p>
</div>

<div id="right-side">
<h1 class="found_something"> Found Something? </h1>
<a data-ui-sref="reportFoundItem"><button type="button" class="found_button"> YES, CONTACT OWNER </button></a>
</div>
</div>
