* {
margin: 0;
padding: 0;
}

#sign-in {
  padding: 5px;
  color: white;
  background-color: #00BCD4;
  font-size: 16px;
  font-weight: 600;
  border: 3px solid yellow;
}


#left-side {
  width: 50%;
  background-color: #00BCD4;
  float: left;
  display: inline-block;
  height: 100%;
}

#right-side {
  width: 50%;
  background-color: #FF5722;
  float: right;
  display: inline-block;
  height: 100%;
}

#wrapper {
  height: 100%;
  width: 100%;
  position: absolute;

}

h1 {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 42px;
  text-align: center;
}
h2 {
  font-size: 36px;
  text-align: center;
}

h3 {
  font-size: 21px;
}

h2, h3, p {
  color: white;
}
form {
  padding-top: 3%;
  width: 300px;
  margin: 0 auto;
}

input {
  padding: 10px 0 10px 0;
  width: 300px;
  margin: 10px 0;
}

p {
  text-align: center;
}

.site_title {
  margin-top: 5%;
}

a {
  color: white;
}

.found_something {
  margin-top: 6%;
}

.found_button {
  padding: 12px;
  color: white;
  background-color: #00BCD4;
  font-size: 16px;
  font-weight: 600;
  margin-left: 38%;
  margin-top: 14%;
  border: 3px solid yellow;
}

.site_image {
  margin-top: 10%;
  margin-left: 35%;

}
