* {
margin: 0;
padding: 0;
}

#wrapper {
  width: 800px;
  margin: auto;
  margin-top: 20%;
  text-align: center;
  color: white;
}

body {
  background-color: salmon;
}

h1 {
  color: mistyrose;
  font-size: 42px;
  text-align: center;
}

.found-item-form {
  text-align: left;
}

.one-forth-input {
  padding: 7px 0px;
  width: 250px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 3%;
}

.Submit_Item {
  
}
