<!DOCTYPE html>
<html>
<head>
<!-- <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'></link> -->
  <meta charset="UTF-8">
  <%= stylesheet_link_tag 'application', property: "stylesheet", media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
  <%= yield %>
</body>
</html>
